@charset "utf-8";



/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 999;
background-color: #fb8d3d;
  background-image:url(../img/wasi.jpg);
  background-blend-mode:multiply ;
  min-height: 100vh;
  background-size: cover;
	text-align:center;
}

/* Loading画像中央配置　*/
#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: #fb8d3d;
  background-image: url(../img/wasi.jpg);
  background-blend-mode:multiply ;
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
	width:260px;
  background-color: #fb8d3d;
  background-image: url(../img/wasi.jpg);
  background-blend-mode:multiply ;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
background-color: #fb8d3d;
animation-fill-mode:forwards;
opacity: 1;
}

@keyframes fadeUpAnime{
  from {
    opacity: 1;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}



/*画面遷移アニメーション*/
.splashbg1,
.splashbg2{
  display: none;
  background-color: #fb8d3d;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2{
display:block;
background-color: #fb8d3d;
}

/*右に消えるエリア*/
body.appear .splashbg1{
animation-name:PageAnime;
animation-duration:1.0s;
animation-timing-function:ease-in-out;
animation-fill-mode:forwards;
  content: "";
  position:fixed;
z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
left:50%;
  transform: scaleX(1);
  background-color: #fb8d3d;/*伸びる背景色の設定*/
  background-image:url(../img/wasi.jpg);
  background-blend-mode:multiply ;
}

@keyframes PageAnime{
0% {
  transform-origin:left;
  transform:scaleX(1);
}
50% {
  transform-origin:right;
}
100% {
  transform-origin:right;
  transform:scaleX(0);
}
}

/*左に消えるエリア*/
body.appear .splashbg2{
animation-name:PageAnime2;
animation-duration:1.0s;
animation-timing-function:ease-in-out;
animation-fill-mode:forwards;
  content: "";
  position:fixed;
z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
right:50%;
  transform: scaleX(1);
  background-color: #fb8d3d;/*伸びる背景色の設定*/
  background-image:url(../img/wasi.jpg);
  background-blend-mode:multiply ;
}

@keyframes PageAnime2{
0% {
  transform-origin:right;
  transform:scaleX(1);
}

50% {
  transform-origin:left;
}
100% {
  transform-origin:left;
  transform:scaleX(0);
}
}

/*画面遷移の後現れるコンテンツ設定*/
#header-img{
opacity: 1;/*はじめは透過0に*/
background-color: #fb8d3d;
}

/*bodyにappearクラスがついたら出現*/
body.appear #header-img{
animation-name:PageAnimeAppear;
animation-duration:0.3s;
animation-delay:0.2s;
animation-fill-mode:forwards;
opacity: 0;

}

@keyframes PageAnimeAppear{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

/*大きな背景画像*/




 /*見出し*/
.page-title{
  font-size: 5rem;
  font-family: 'Philosopher' ,serif;
  color: aqua;
  text-transform: uppercase;
  font-weight: normal;
}

/*========= ナビゲーションのためのCSS ===============*/

/*アクティブになったエリア*/
#g-nav.panelactive{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
top: 0;
width:100%;
  height: 100vh;
}

/*丸の拡大*/
.circle-bg{
  position: fixed;
z-index:3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fb8d3d;
  /*丸のスタート位置と形状*/
transform: scale(0);/*scaleをはじめは0に*/
  right:-50px;
  top:calc(50% - 50px);/*50%から円の半径を引いた値*/
  transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{

  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
   display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
opacity: 0;/*はじめは透過0*/
  /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
  opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav li{
text-align: center; 
list-style: none;

}

#g-nav li a{
color: #333;

padding:10px;
display: block;
font-size: 40px;
letter-spacing: 0.1em;

font-family: 'Philosopher' ,serif;
}


/*========= ボタンのためのCSS ===============*/
.openbtn{
  position:absolute;
 
  top:5%;
  cursor: pointer;
  right: 3%;
  width: 50px;
  height:50px;
  border-radius: 5px;
}

/*ボタン内側*/

.openbtn .openbtn-area{
  transition: all .4s;
}

/*×に変化*/  
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: red;
    width: 45%;
  }

  .openbtn span:nth-of-type(1) {
  top:15px; 
  right: 20px;
}

.openbtn span:nth-of-type(2) {
  top:23px;
  right: 20px;
}

.openbtn span:nth-of-type(3) {
  top:31px;
  right: 20px;
}

/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/

.openbtn.active .openbtn-area{
  transform: rotateY(-360deg);
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(135deg);
  width: 30%;
}

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:1.2rem;
}



@media screen and (max-width:1060px) {
#container.item {
     width:30%;
}
#container.item {
    width:68%;
}
}

@media screen and (max-width:768px) {
#lead{
    flex-direction: column-reverse;
}
}