
@charset "utf-8";

/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom:20px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(150px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
  display: block;
  width: 150px;
  height: 180px;
  color: #333;
  text-align: center;
  text-transform: uppercase; 
  text-decoration: none;
  font-size:0.6rem;
    /*背景画像の指定*/
  background: url("../img/車椅子\　アヒル.png") no-repeat center;
  background-size: contain;
}

#page-top.floatAnime a{
  width: 150px;
  height: 200px;
    /*背景画像の指定*/
  background: url("../img/車椅子\　アヒル\　風船.png") no-repeat center;
  background-size: contain;
    /*アニメーションの指定*/
  animation: floatAnime 2s linear infinite;
  opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
  color: #666;
}

#kaza{
 display:flex;
 width: auto;
 height: 550px; 
 background-image:url(../img/back.jpg);
 /*background-color: aqua;*/
 background-blend-mode: multiply;
 background-size: auto;
}

.kazaguruma span{
  display:flex;
  position:relative;
  width:300px;
  margin:70px;
  height:300px;
  margin:80px;
  max-width: 100%;
  background-image: url(../img/風車.png);
  background-size: cover;
 
}

#box1{
  animation:6s linear infinite rotation1;
}

@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}

html,body{
	height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	
}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}