@charset "utf-8";
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.html{
  width: 100%;
}
.wrap{
  overflow: hidden;
}
.body{
  margin: 0;
  padding: 0;
 background-color: #fb8d3d;
}
#header{
  position: relative;/*背景を設定するdivの基点とするためrelativeをかける*/
  width: 100%;
  height:100vh;
  background-color: #fb8d3d;
}

#header-img{

  position:fixed;/*背景を固定するためfixedをかける*/
  /*以下画面で背景画像を表示させるための指定*/
  width: 100%;
  height:100vh;
  background: url("../img/ホーム.jpg") ;/*背景画像の設定*/
  background-blend-mode: multiply;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
 /*変化する基点を中心からに設定*/
}

#container,header
{
  position: relative;/*#header-imgよりも配置を上にするためにrelativeをつける*/
  z-index: 0;/*#header-imgよりもz-indexの値を大きな数値にして上に表示*/

  left:50%;
  top:50%;
 
  transform: translate(-50%,0%)
 
}

  
  /*========= レイアウトのためのCSS ===============*/ 
  
#header p{
    color: #fb8d3d;
  font-family: 'Philosopher' ,serif;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: #fff;
  /*天地中央に配置*/
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;/*#header-imgよりも手前に配置*/
    background-size: contain;
    opacity: 0.5;
}





#item{
  display: flex;
  /*background-color: #f1eaa4;*/
  flex-direction: row-reverse;
  width: 100;
  margin: 0;
  padding-top:0;
}

.left{
  width:33%;
    background: url("../img/家具.png") no-repeat center;
    background-size: contain;
    display: flex;
 
}

.right{
  width:33%;
  display: flex;
  padding-left:10%;
}

.center{
 width:33% ;
 display: flex;
 padding-right: 20%;
}


.right h2,
.center p{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;    
  text-orientation: upright;}

  .right h2{
    padding-top:20%;
    font-size:4rem;
    color: #fb8d3d;
    left: 10%;
    line-height: 1;
    font-family: 'Philosopher' ,serif;
  }

  .center p{
  padding: 40%;
 
  font-family: 'Philosopher' ,serif;
  font-size: 1.5rem;
  line-height: 3.5;
  font-family: 'Philosopher' ,serif;
  }



  
/*===================================
スライダーのためのcss
===================================*/
.menu{
  width: 100%;

  text-align: center;
  /*background-color: #d0e39b;*/

}
.menu h2{
  line-height:1.8rem;
  font-size:80px;
  padding: 70px;
  color:red;
  font-family: 'Philosopher' ,serif;
  vertical-align: top;
}







/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin:0 auto;

}

.slider img {
  width:30vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}



ul{
margin:0;
padding: 0;
list-style: none;
}



/* container */
.wrapper{
  width:100%;
/*background-color: #f3b588;*/
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;

}
/* content */
.wrapper .content .heading{
  margin:auto;
  font-size: 80px;
  font-weight: normal;
  text-align: center;
  font-family: 'Philosopher' ,serif;
  color: red;
}
@media (min-width: 992px) {
  .wrapper .content .list {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.wrapper .content .list-item {
  margin:100px 0px;
  padding:0px 25px;
  text-align:center;
}
@media (min-width: 992px) {
  .wrapper .content .list-item {
      margin:0px;
      width:calc(100% / 3);
  }
}
.wrapper .content .list-item .image{
  display:block;
  width:25vh;
  height: auto;
  margin:70px auto 50px auto;
  border-radius:100%;
  object-fit: cover;
}
.wrapper .content .list-item p{
  line-height:1.8rem;
  font-size:1.rem;
  color:black;
  font-family: 'Philosopher' ,serif;
  vertical-align: top;
}



